html
	head
		title!= 'chat by @findemor'
		include partials/head
		script(src="https://cdn.socket.io/socket.io-1.3.5.js")

	body
		div.container
			include partials/navbar

			table#chat.table.table-striped
				thead
					tr
						th="Usuario"
						th="Mensaje"
						th
				tbody

		footer.footer
			div.input-group
				label(for="username")="Your name: "
				input#username.form-control(type="text" placeholder="Username")
			div#mandatory.input-group
				input#message.form-control(type="text" placeholder="Escribe tu mensaje...")
				span.input-group-btn
					button#addMessage.btn.btn-primary(type="button")="Enviar!"


		script(src="/public/scripts.js")
